body{
    font-family: sans-serif;
    position: relative;
    background: rgb(41, 40, 40);
}
section.first{
    display: flex;
    align-items: inline;
}
.hero img{
    width: 350px;
    margin:55px 100px;
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));

}
.text{
    font-weight: 200;
    font-size: 20px;
    flex: 2;
    display: inline;
    margin: 100px;
    text-align: center;
    color: #f7f2f2;
}
.text h1{
    font-size: 60px;
    font-weight: 400;

}
.text h2{
    font-size: 40px;
    font-weight: 200;
}
.text span{
    color: limegreen;
}
.text p{
    text-shadow:1px 1px 3px grey;
}
.secound .journey{
    box-sizing: border-box;
    border-style: inset ;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);;

}
.secound .journey h2{
    font-family: cursive;
}
.secound .journey p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin: 5px 5px;
}
.hero1 img{
    width: 350px;
    margin:55px 100px;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.75rem rgb(220, 150, 20));
}
section.third .skill{
    display: flex;
    justify-content: center;
}
section.third h1{
    text-align: left;
    font-size: 35px;
    color: limegreen;
    margin-top: 100px;
    padding-left:65px ;
}

.experience-item{
    box-shadow: 10px 10px 40px rgb(243, 241, 241);
    width: 500px;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
.experience-item  h2{
    font-family: 'Times New Roman', Times, serif;
    color: limegreen;
    margin-top: 10px;
    text-align: center;
    font-weight: 300;
}
.experience-item p{
    text-align: center;
    color: whitesmoke;
}
.experience-item .vision{
    font-family: 'Times New Roman', Times, serif;
    color: limegreen;
    margin-top: 10px;
    text-align: center;
}
#box-border{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(223, 221, 217), rgb(59, 57, 57));
    border-image-slice: 1;
}
#box-border2{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(59, 57, 57), rgb(223, 221, 217));
    border-image-slice: 1;
}
.footer p{
    text-align: center; 
    color: ghostwhite;
    font-weight: 100;
    font-family: cursive; 
    margin-top: 90px;
}
