body{
    font-family: sans-serif;
    position: relative;
    background: rgb(41, 40, 40);
}
section.first{
    display: flex;
    align-items: inline;
}
.hero img{
    width: 350px;
    margin:55px 100px;
    filter: drop-shadow(30px 10px 4px #3f4244);

}
.text{
    font-weight: 200;
    font-size: 20px;
    flex: 2;
    display: inline;
    margin: 100px;
    text-align: center;
    color: #f7f2f2;
}
.text h1{
    font-size: 60px;
    font-weight: 400;

}
.text h2{
    font-size: 40px;
    font-weight: 200;
}
.text span{
    color: limegreen;
}
.text p{
    text-shadow:1px 1px 3px grey;
}
.secound .journey{
    box-sizing: border-box;
    border-style: inset ;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);;

}
.secound .journey h2{
    font-family: cursive;
}
.secound .journey p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin: 5px 5px;
}
.hero1 img{
    width: 350px;
    margin:55px 100px;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.75rem rgb(220, 150, 20));
}